.membersPage {
  padding: 20px;
  text-align: center;
}

.membersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flag {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
}

.memberCard {
  position: relative;
  margin: 20px;
  padding: 20px;
  background-color: #707070;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
}

.memberCardImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.memberCardH2 {
  margin: 10px 0;
  font-size: 24px;
}

.socialIcons {
  margin-top: 10px;
}

.socialIconsA {
  text-decoration: none;
  color: #e3e3e3;
  margin: 5px;
  transition: color 0.3s;
}

.socialIconsA:hover {
  color: #ead265;
}

@media (max-width: 480px) {
  .membersPage {
    padding: 0px;
  }

  .memberCard {
    margin: 10px;
    padding: 10px;
    width: 140px;
  }

  .memberCardImg {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }

  .flag {
    top: 2px;
    right: 5px;
    font-size: 20px;
  }

  .memberCardH2 {
    font-size: 20px;
  }

  .icons svg {
    width: 16px;
    height: 16px;
  }

}